<h1>Project Users</h1>

<div class="table-responsive">
<table class="table table-hover table-striped text-center">
	<thead>
		<tr>
			<th class="text-center">Name</th>
			<th class="text-center">Email</th>
			<th class="text-center">Role</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%=  user["name"] %></td>
			<td><%=  user["email"] %></td>
			<td><%=  user["user_type"] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>