body .navbar{
	margin-bottom: 0px;
}
.p-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.m-20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.indent{
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}
.icon-bar{
	background-color: #000;
}
@media screen and (max-width: 768px){
	body .indent{
		display: none;
	}
}